<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/png" href="/assets/logo.png">

		<title>{% block title %}Searched{% endblock title %}</title>
		{% endblock head %}

		<style>
			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
				background-color: #121212;
				color: #CDCDCD;
				font-family: sans-serif;
			}
		
			.icon {
				font-size: 24pt;
			}
		</style>
	</head>
	<body>
		{% block body %}{% endblock body %}
	</body>
</html>
