{% extends "base.html" %}

{% block content %}
<center>
<table class="frontpage-lead">
	<tr>
		<td>
			<img src="assets/dragynfruit.png" />
		</td>
		<td>
			<h1>Searched</h1>
			<p>A search engine</p>
		</td>
	</tr>
</table>

<form method="get" action="/search">
	<input type="text" name="s" value="duckduckgo" hidden />
	<input class="search" type="search" id="search" name="q" placeholder="Search..." autofocus />
	<button type="search" hidden />
</form>

<script>
	{% include "main.js" %}
</script>
{% endblock content %}
