{% extends "base.html" %}

{% block title %}Settings | Searched{% endblock title %}

{% block content %}
<table class="search-header">
	<tr>
		<td width="36pt">
			<a href="/">
				<img src="assets/logo.png" />
			</a>
		</td>
		<td width="36pt">
			<h3 style="margin-left:-8pt"><a href="/">Searched</a></h3>
		</td>
	</tr>
</table>

<form class="results">
	<div>
		<h3>Theme</h3>
		<p>Select color theme</p>
		<select name="theme">
			<option value="dark">Dark</option>
			<option value="light">Light</option>
		</select>
	</div>
	<div>
		<h3>Open in new tab</h3>
		<p>Always open search results in a new tab</p>
		<input type="checkbox" name="new_tab" />
	</div>
	<div>
		<h3>Use privacy frontends</h3>
		<p>Use privacy-respecting alternate frontends where possible</p>
		<input type="checkbox" name="privacy_frontends" />
	</div>
	<div>
		<input type="submit" value="Save" />
	</div>
</div>

{% endblock content %}

