{% import "components/search_bar.html" as search_bar %}
{% import "components/result_view.html" as result_view %}
{% extends "template.html" %}

{% block title %}Settings | Searched{% endblock title %}

{% block head %}
{{ super() }}

<link rel="preload" href="assets/logo.png" as="image" />

<style>
	#settings-header {
		padding: 10px;
		
	}

	#settings-header h3 {
		margin: 0;
		padding: 0;
	}

	@media screen and (max-width: 520px) {
		#settings-header h3 {
			display: none;
		}
	}
</style>

{{ search_bar::generate_style() }}
{{ result_view::generate_style() }}
{% endblock head %}

{% block left_header %}
<div id="settings-header">
	<img src="assets/logo.png" width="48" height="48" alt="Logo" />
	<h3>Searched Settings</h3>
</div>
{% endblock left_header %}

{% block right_header %}{% endblock right_header %}

{% block content %}
<div id="results">
	<table id="no-results">
		<tr>
			<td>
				<h1>No results found</h1>
			</td>
		</tr>
	</table>
</div>
{% endblock content %}